[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-crispy-forms = "*"
lxml = "*"
django-widget-tweaks = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
