{% extends "base.html" %} 
{% block content %}
<div class="row p-3">
    <a href="{% url 'lab:engineer-add'%}" class="btn btn-primary" role="button">Add Engineer</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for engineer in engineers %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'lab:engineer-edit' engineer.id %}">{{ engineer.first_name }}</a></td>
            <td>{{ engineer.last_name }}</td>
            <td>{{ engineer.email_address }}</td>
            <td>
                <a href="{% url 'lab:engineer-delete' engineer.id %}" class="btn btn-danger btn-sm float-right" role="button"><i class="fas fa-trash-alt"></i> Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}