{% extends "core/base.html" %} 

{% load widget_tweaks %} 

{% block title %}
Login Form
{% endblock title %}

{% block content %}

<h2 class="my-3">Login</h2>
<hr>
<form method="post" autocomplete="off">
  {% csrf_token %}
  <div class="form-group col-md-4">
      <label for="id_username">{{ form.username.label }}</label>
      {{ form.username|add_class:"form-control" }}
  </div>
  <div class="form-group col-md-4">
      <label for="id_password">{{ form.password.label }}</label>
      {{ form.password|add_class:"form-control" }}
  </div>
  <div class="form-group col-md-4">
    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Login</button>
  </div>
</form>

{% endblock content %}