{% extends "base.html" %} 
{% block content %}
<div class="row p-3">
    <a href="{% url 'atterberg:atterberg-add'%}" class="btn btn-primary" role="button">Add Test</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Balance</th>
            <th scope="col">Date</th>
            <th scope="col">Method</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for atterberg in atterbergs %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'atterberg:atterberg-edit' atterberg.id %}">{{ atterberg.balance }}</a></td>
            <td>{{ atterberg.test_date }}</td>
            <td>{{ atterberg.get_preparation_method_display }}</td>
            <td>
                <a href="{% url 'atterberg:atterberg-xml' atterberg.id %}" class="btn btn-info btn-sm" role="button"><i class="fas fa-cloud-download-alt"></i> XML</a>
                <a href="{% url 'atterberg:atterberg-delete' atterberg.id %}" class="btn btn-danger btn-sm float-right" role="button"><i class="fas fa-trash-alt"></i> Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}