{% load widget_tweaks %} 

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Project ID</th>
            <th scope="col">Hole ID</th>
            <th scope="col">Top Depth (m)</th>
            <th class="d-none d-sm-table-cell" scope="col">Test Date</th>
            <th class="d-none d-sm-table-cell" scope="col"></th>
            <th class="d-none d-sm-table-cell" scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for test in filter.qs %}
        <tr>
            <td><a href="{% url 'lab:edit' test.id %}">{{ test.project_id }}</a></td>
            <td>{{ test.hole_id }}</td>
            <td>{{ test.depth_top }}</td>
            <td class="d-none d-sm-table-cell">{{ test.test_date }}</td>
            <td class="d-none d-sm-table-cell">
                <a href="{% url 'lab:download_xml' test.id %}" class="btn btn-info btn-sm" role="button"><i class="fas fa-cloud-download-alt"></i>
                    XML</a>
            </td>
            <td class="d-none d-sm-table-cell">
                <a href="{% url 'lab:delete' test.id %}" class="btn btn-danger btn-sm" role="button"><i class="fas fa-trash-alt"></i>
                    Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>