{% load widget_tweaks %}

<div class="card my-3 accordion" id="filterAccordion">
    <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
        aria-controls="collapseOne">
        <i class="fas fa-filter"></i> Filter
    </button>
    <div id="collapseOne" class="collapse" aria-labelledby="filterHeading" data-parent="#filterAccordion">
        <div class="card-body">
            <form method="get" autocomplete="off">
                <div class="form-row">
                    <div class="form-group col-sm-4 col-md-3">
                        {{ filter.form.project_id|add_class:"form-control"|attr:"placeholder:Project ID..."|attr:"data-lpignore:true" }}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                        {{ filter.form.hole_id|add_class:"form-control"|attr:"placeholder:Hole ID..."|attr:"data-lpignore:true" }}
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
                        <a href="{% url 'moisture:mc_list'%}" class="btn btn-secondary" role="button"><i class="fas fa-times"></i>
                            Clear Filter</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>